body {
    background: linear-gradient(#0abfbc,#fc354c);
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-family: 'Arvo', serif;
}

.cowcontainer {
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    justify-content: center; 
    padding:1px;
    border:1px solid #021a40;
    background: linear-gradient( #085078, #85d8ce); 
    width: 90%;
    height: auto; 
    margin: 20px; 
    border-radius: 50px; 
}

h4 {
    text-align: center; 
    font-size: 30px; 
    margin: 40px;
}

.cow_link {
    border: none; 
}

.cow_icon {
    margin: 40px; 
}

.cow_pic {
    width: 70%; 
    height: auto;  
    border-radius: 50px; 
}


h1 {
    font-size: 50px; 
    text-align: center; 
    color: #000000;  
    letter-spacing: 0.05em;
    text-shadow: 
    4px 4px 0px #ffff, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
    width: 100%; 
    height: auto; 
}


@media only screen and (min-width: 600px) {
.doggo {
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    justify-content: center; 
    padding:1px;
    border:1px solid #021a40;
    background: linear-gradient( rgb(175, 131, 131), rgb(173, 197, 249) );
    width: 80%; 
    height: auto; 
    margin: 20px; 
    border-radius: 50px; 
}

h4 {
    text-align: center; 
    font-size: 60px; 
}

.cow_link {
    border: none; 
}

.dog_icon {
    width: 150px; 
    height: 150px;
    margin: 20px; 
}


.cow_pic {
    width: 50%; 
    height: auto;  
    border-radius: 50px; 
}



h1 {
    font-size: 100px; 
    text-align: center; 
    color: #000000;
    letter-spacing: .05em;
    text-shadow: 
    4px 4px 0px #ffff, 
    7px 7px 0px rgba(0, 0, 0, 0.2);
    width: 100%; 
    height: auto; 
}

}